@font-face {
   font-family: 'Moon Flower Bold';
   src: url('Moon Flower Bold/font.ttf');
}
@font-face {
   font-family: 'Ateeca';
   src: url('Ateeca/font.ttf');
}
@font-face {
   font-family: 'Always In My Heart';
   src: url('Always In My Heart/font.ttf');
}
